{% extends 'base.html.twig' %}

{% block title %}Hello Burger2Controller!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/Users/olise/Desktop/symfony_base/src/Controller/Burger2Controller.php</code></li>
        <li>Your template at <code>C:/Users/olise/Desktop/symfony_base/templates/burger2/index.html.twig</code></li>
    </ul>
    <div>
        {% for burger in burgers %}
            <p>{{ burger.name }} - {{ burger.price }} </p>
        {% endfor %}
    </div>
    <button><a href="{{ path('burger2_add') }}">Ajouter un burger</a></button>
    <button><a href="{{ path("burger2_top") }}">Voir les 5 meilleurs burgers</button>
    <button><a href="{{ path("burger2_filter") }}">Voir les burgers avec oignons</button>
    <button><a href="{{ path("burger2_without") }}">Voir les burgers sans oignon</button>
</div>
{% endblock %}
