{% extends 'base.html.twig' %}

{% block body %}
    <h1>Créer un Nouveau Burger</h1>
    {{ form_start(form) }}
    {# Autres champs du formulaire... #}

    <!--<div data-controller="sauce">
        <p data-sauce-target="selected">Sélectionnez une sauce</p>
       {# {{ form_row(form.sauce, {'attr': {'data-action': 'sauce#selectSauce'}}) }}#}
    </div> -->
    <div data-controller="sauce">
        <p data-sauce-target="selected">Sélectionnez une sauce</p>
        {{ form_widget(form.sauce, {'attr': {'data-action': 'change->sauce#selectSauce'}}) }}
    </div>


    {{ form_widget(form.oignon, { 'attr': {'multiple': 'multiple', 'size': 5} }) }}


    <div class="form-group" data-controller="preview"> <!-- Ajout du contrôleur ici -->
        {{ form_label(form.image) }}
        {{ form_widget(form.image, {'attr': {'data-preview-target': 'select', 'data-action': 'change->preview#preview'}}) }} <!-- Associer les actions -->
        <div class="mt-3">
            <img data-preview-target="preview" src="" alt="Image preview" style="max-width: 300px; max-height: 300px ;display: block;" class="img-fluid"/>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}
